.App {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.Comments-list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Comment-box, .Comment-form {
  background-color: white;
  box-shadow: .2px 1px 1px grey;
  border: .5px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
}

.Comment-box button {
  opacity: 0;
  transition: opacity ease .6s;
}

.Comment-box:hover button {
  opacity: 1;
}

.Comment-text {
  padding: 0 5px 15px 5px;
}
.Comment-votes {
  display: inline-block;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 2px;
  font-size: 12px;
}

.Comment-form {
  display: flex;
}

.Comment-form textarea {
  width: 80%;
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
  margin: 2px;
}
